class __FORMULA_CLASS__ < Formula
  desc "__DESC__"
  homepage "https://github.com/__REPOSITORY__"
  url "https://github.com/__REPOSITORY__/releases/download/__TAG_NAME__/__FORMULA__-darwin-arm64"
  version "__VERSION__"
  sha256 "__DARWIN_ARM64_SHA__"
  license "__LICENSE__"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/__REPOSITORY__/releases/download/__TAG_NAME__/__FORMULA__-darwin-arm64"
      sha256 "__DARWIN_ARM64_SHA__"
    end
__MACOS_INTEL_BLOCK__
  end

  on_linux do
    if Hardware::CPU.intel?
      url "https://github.com/__REPOSITORY__/releases/download/__TAG_NAME__/__FORMULA__-linux-amd64"
      sha256 "__LINUX_AMD64_SHA__"
    end

    if Hardware::CPU.arm?
      url "https://github.com/__REPOSITORY__/releases/download/__TAG_NAME__/__FORMULA__-linux-arm64"
      sha256 "__LINUX_ARM64_SHA__"
    end
  end

  def install
    binary_name =
      if OS.mac?
        Hardware::CPU.arm? ? "__FORMULA__-darwin-arm64" : "__FORMULA__-darwin-amd64"
      elsif OS.linux?
        Hardware::CPU.arm? ? "__FORMULA__-linux-arm64" : "__FORMULA__-linux-amd64"
      else
        odie "unsupported platform"
      end

    bin.install binary_name => "__FORMULA__"
    (buildpath/"__FORMULA__.bash").write <<~BASH
      complete -o default -o bashdefault -C #{opt_bin}/__FORMULA__ __FORMULA__
    BASH
    bash_completion.install buildpath/"__FORMULA__.bash" => "__FORMULA__"
  end

  def post_install
    system bin/"__FORMULA__", "skills", "install", "--upgrade"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/__FORMULA__ -v")
    assert_match "complete -o default", shell_output("#{bin}/__FORMULA__ completion -c bash")
  end
end
